@model Rappro.Data.Rapprochement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rapprochement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRapp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRapp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FichierRapp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FichierRapp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumActifNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumActifNavigation.NumActif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPassifNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPassifNavigation.NumPassif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumRapp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
